<div class="wrapper">
    <img class="fondo-alpaca" [src]="alpaca.background" alt="alpaca">
    <img class="cuello-alpaca" [src]="alpaca.neck" alt="alpaca">
    
    <img class="leg-alpaca" [src]="alpaca.leg" alt="alpaca">
    <img class="ears-alpaca" [src]="alpaca.ears" alt="alpaca">
    <img class="accessories-alpaca" [src]="alpaca.accessories" alt="alpaca">
    <img class="hair-alpaca" [src]="alpaca.hair" alt="alpaca">
    <img class="nose-alpaca" [src]="alpaca.nose" alt="alpaca">
    <img class="eye-alpaca" [src]="alpaca.eyes" alt="alpaca">
    <img class="mouth-alpaca" [src]="alpaca.mouth" alt="alpaca">
    
</div>
