<div class="wrapper">
    <img class="fondo-alpaca" [src]="alpaca.backgroundSrc" alt="alpaca">
    <img class="cuello-alpaca" [src]="alpaca.neckSrc" alt="alpaca">
    <img class="leg-alpaca" [src]="alpaca.legSrc" alt="alpaca">
    <img class="ears-alpaca" [src]="alpaca.earSrc" alt="alpaca">
    <img class="hair-alpaca" [src]="alpaca.hairSrc" alt="alpaca">
    <img class="nose-alpaca" [src]="alpaca.nose" alt="alpaca">
    <img class="eye-alpaca" [src]="alpaca.eyeSrc" alt="alpaca">
    <img class="mouth-alpaca" [src]="alpaca.mouthSrc" alt="alpaca">
</div>
