
<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div class="titulo-container" fxFlexAlign="flex-start">
    <h1 class="titulo" >Alpaca Generator</h1>
  </div>
  <div class="seccion-ppal" fxFlex fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class="alpaca-container">
     <app-custom-alpaca 
     [alpaca]="alpaca"></app-custom-alpaca>
    </div>
    <div class="botones-container" fxLayout="column"fxLayoutAlign="center">
      <app-accesories 
      [accesorios]="accesoriosArray"
      (change)="opcionSeleccionada($event)"
      ></app-accesories>
      <app-styles [accesorios]="arrayStyle"
      (change)="estiloSeleccionado($event)"
      
      ></app-styles>
    </div>
  </div>
   
  
  <div class="extra-container">
    <button mat-raised-button class="btn" color="accent"
    (click)="resetAlpaca()"
    >Original</button>
    <button mat-raised-button class="btn" 
    (click)="randomAlpaca()"
    >Random</button>
    <a mat-raised-button class="btn" color="primary"
    (click)="descargarImagenes()" 
    >Download </a>
    
  </div>
</div>
