
<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div class="titulo-container" >
    <h1 class="titulo">Alpaca Generator</h1>
  </div>
  <div class="seccion-ppal" fxFlex fxLayout="row">
    <div class="alpaca-container">
     <app-custom-alpaca 
     [alpaca]="alpaca"></app-custom-alpaca>
    </div>
    <div class="botones-container" fxLayout="column" fxLayoutAlign="flex-start">
      <app-accesories 
      [accesorios]="accesoriosArray"
      (change)="opcionSeleccionada($event)"
      ></app-accesories>
      <app-styles [accesorios]="arrayStyle"
      
      ></app-styles>
    </div>
  </div>
  <div class="extra-container">
    <button mat-raised-button class="btn" >Random</button>
    <button mat-raised-button class="btn" color="primary">Download</button>
  </div>
</div>
