.wrapper{
    background-color: lightgray;
    min-height: 100%;
    
    .titulo-container{
        margin: 30px;
        background-color: lightcyan;
        width: 51%;
        .titulo{
            font-weight: 800;
            font-size: 35px;
            margin: 10px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            
        }
    }
    .seccion-ppal{
        background-color: lightcoral;
      
        .botones-container{
           
            width: 350px;
            
            //background-color: lightgreen;
            app-accesories,app-styles{
                padding: 10px;
            }
            
        }
    }
    .extra-container{
        margin: 20px;
        .btn{
            margin: 0 20px;
        }
    }
}